.post-topic-cat {
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
    width: 100%;
}

.post-cat-btn {
    /* background-color: #a2d2ff; */
    border-bottom: 2px solid #a2d2ff;
    border-top: 2px solid #a2d2ff;
    color: #333;
    padding: .5em;
    /* border-radius: 5px; */
    cursor: pointer;
    text-decoration: none;
    margin-right: .5em;
    margin-left: .5em;
}

.post-cat-btn:hover {
    background-color: #a2d2ff;
    color: #333;
}